*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
    /* height: 100vh; */
    /* height: 100vw; */
    /* border: 1px solid black; */
    /* 默认是inline元素就有滚动条 */
    display: block;
}


body{
    /* border: 1px solid blue; */
    overflow: hidden;
}